<aside class="sidebar" id="userSidebar">

  <div class="brand">
    <img src="../assets/logo/careflow-logo.png" alt="CareFlow logo">

    <div>
      <strong>CareFlow</strong>
      <span>Hospital Management</span>
    </div>
  </div>

  <nav class="nav">
    <a href="../user/dashboard.html" class="active">Dashboard</a>
    <a href="../user/doctors.html">Doctors</a>
    <a href="../user/patients.html">Patients</a>
    <a href="../user/appointments.html">Appointments</a>
    <a href="../user/pharmacy.html">Pharmacy</a>
  </nav>

  <div class="sidebar-foot">
    <a href="../index.html">Logout</a>
  </div>

</aside>